#centralWidget {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 rgba(9,9,121,1), stop: 0.1 rgba(0,212,255,1),
    stop:0.1 rgba(0,212,255,1), stop: 0.5 rgba(0,255,179,1),
    stop:0.5 rgba(0,255,179,1), stop: 0.9 rgba(0,212,255,1),
    stop:0.9 rgba(0,212,255,1), stop: 1 rgba(9,9,121,1),
    stop:1 rgba(9,9,121,1));
}

#topBoxWidget {

}


#gameBoxWidget {

}

#player1GameBoxWidget {
}

#player2GameBoxWidget {
}

#startButtonWidget{
    background-color: transparent;
    border: 0px;
    background-image: url(:/graphs/start_button_150w.png);
}
#startButtonWidget:hover{
    background-image: url(:/graphs/start_button_150w_mouseON.png);
}

#settingButtonWidget{
    background-color: transparent;
    border: 0px;
    background-image: url(:/graphs/settings_button_150w.png);
}
#settingButtonWidget:hover{
    background-image: url(:/graphs/settings_button_150w_mouseON.png);
}

#closeButtonWidget{
    background-color: transparent;
    border: 0px;
    background-image: url(:/graphs/close_button_150w.png);
}
#closeButtonWidget:hover{
    background-image: url(:/graphs/close_button_150w_mouseON.png);
}

#joinButtonWidget{
    background-color: transparent;
    border: 0px;
    background-image: url(:/graphs/join_button_150w.png);
}
#joinButtonWidget:hover{
    background-image: url(:/graphs/join_button_150w_mouseON.png);
}

#newButtonWidget{
    background-color: transparent;
    border: 0px;
    background-image: url(:/graphs/new_button_150w.png);
}
#newButtonWidget:hover{
    background-image: url(:/graphs/new_button_150w_mouseON.png);
}

#player1NotifyLabel {
    background-color: transparent;
    border: 0px;
    color: white;
    font: 30pt;
    font-weight: bold;
    font-family: Lucida Handwriting;
}
#player2NotifyLabel {
    background-color: transparent;
    border: 0px;
    color: white;
    font: 30pt;
    font-weight: bold;
    font-family: Lucida Handwriting;
}

#speedUpIcon {
    background-color: transparent;
    border: 0px;
    border-color: red;
    background-image: url(:/graphs/speed_up.png);
}

#speedUpCounter {
    background-color: transparent;
    border: 0px;
    border-color: red;
    color: white;
    font: 10pt;
    font-weight: bold;
    font-family: Lucida Handwriting;
}

#coinsIcon {
    background-color: transparent;
    border: 0px;
    border-color: red;
    background-image: url(:/graphs/coins_gray.png);
}

#coinsCounter {
    background-color: transparent;
    border: 0px;
    border-color: red;
    color: white;
    font: 10pt;
    font-weight: bold;
    font-family: Lucida Handwriting;
}

#shopItemIcon {
    background-color: transparent;
    border: 0px;
    border-color: red;
    background-image: url(:/graphs/itemIcon.png);
}

#itemPriceLabel {
    background-color: transparent;
    border: 0px;
    border-color: red;
    color: white;
    font: 10pt;
    font-weight: bold;
    font-family: Lucida Handwriting;
}

#boardPlayer1Widget {
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}

#boardPlayer2Widget {
    background-color: transparent;
    border-style: solid;
    border-width: 5px;
    border-color: red;
}
