QMainWindow {
    background: qlineargradient(x1:0, y1:0, x2:1, y2:1,
    stop:0 rgba(255,255,255,1), stop: 0.1 rgba(222,222,222,1),
    stop:0.1 rgba(222,222,222,1), stop: 0.5 rgba(171,171,171,1),
    stop:0.5 rgba(171,171,171,1), stop: 0.9 rgba(222,222,222,1),
    stop:0.9 rgba(222,222,222,1), stop: 1 rgba(255,255,255,1),
    stop:1 rgba(255,255,255,1));
}
